/* $Id$ */

body {
	margin: 1in;
	background-color: white;
	color: black;
	font-family: sans-serif;
}

.book-title {
	color: maroon;
	font-size: 200%;
	font-weight: bold;
	display: block;
}

.article-title {
	color: maroon;
	font-size: 200%;
	font-weight: bold;
	display: block;
}

.title1 {
	color: maroon;
	font-weight: bold;
	font-size: 200%;
	display: block;
}

.title2 {
	color: maroon;
	font-weight: bold;
	font-size: 150%;
	display: block;
}

.title3 {
	color: maroon;
	font-weight: bold;
	font-size: 120%;
	display: block;
}

.title4 {
	color: maroon;
	font-weight: bold;
	display: block;
}

.title5 {
	color: maroon;
	font-weight: bold;
	display: block;
}
